* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: unset;
}

ul, li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1.2% 15%;
  background-color: #141414;
  color: #fff;
}

.headerNav {
  display: flex;
}

.headerButton {
  margin-right: 2rem;
}
.headerButton:hover {
  text-decoration: underline;
}
.headerButton:last-child {
  margin-right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #fff2dd;
}

.lists {
  display: flex;
  height: 93%;
}

.sideList {
  width: 17%;
  min-width: 12.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #fff;
  direction: rtl;
}

.sideListItem {
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c2c2c2;
  padding: 0.3rem 0;
}
.sideListItem:hover {
  text-decoration: underline;
  background-color: #f1f1f1;
}

.mainListWrapper {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.mainList {
  display: grid;
  grid-template-columns: repeat(9, 0fr);
  grid-template-rows: repeat(6, -webkit-min-content);
  grid-template-rows: repeat(6, min-content);
  justify-content: center;
  padding-top: 1rem;
}

.mainListButtons {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 4rem;
  margin-right: 30px;
  background: none;
  border: none;
  -webkit-user-select: none;
  user-select: none;
}
.button:last-child {
  margin-right: 0;
}
.button:hover {
  cursor: pointer;
  color: blue;
}
.button:focus {
  outline: none;
}

.cardsItem {
  margin: 0.6rem;
}

.card {
  padding: 0.5rem;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}

.cardName {
  text-transform: capitalize;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:disabled {
  pointer-events: none;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.info-image {
  display: flex;
  justify-content: center;
}
.info-main {
  display: flex;
  padding: 1rem;
  text-transform: capitalize;
}
.info-stats {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  text-transform: capitalize;
}
.info-abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoContent {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fffcf8;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.abilities {
  text-transform: capitalize;
}

.statsRow {
  width: 100%;
  text-align: justify;
}

.sideListButton {
  margin: 1rem;
  background-color: #e4bd8b;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.sideListButton:focus {
  outline: none;
}
.sideListButton:hover {
  color: #7c6115;
}