@mixin tablets {
    @media /*(min-width: 768px) and */(max-width: 900px) {
        @content;
    }
}

@mixin phones-l {
    @media (max-width: 425px) {
        @content;
    }
}

@mixin phones-s {
    @media (max-width: 320px) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: unset;
}

ul, li {
    list-style: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 1.2% 15%;
    background-color: #141414;
    color: #fff;
}

.headerNav {
    display: flex;
    align-items: center;
}

.headerButton {
    margin-right: 2rem;
    text-align: center;

    &:hover {
        text-decoration: underline;
    }

    &:last-child {
        margin-right: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: #fff2dd;

    @include tablets {
        height: unset;
        overflow: unset;
    }
}

.lists {
    display: flex;
    height: 95%;

    @include tablets {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.sideList {
    width: 17%;
    min-width: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    background-color: #fff;
    direction: rtl;
    padding: 0.5rem;
    padding-bottom: 4rem;

    @include tablets {
        overflow-y: unset;
    }

    @include phones-l {
        padding-bottom: 1rem;
    }
}

.sideListItem {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 0.3rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &:hover {
        text-decoration: underline;
        background-color: #f1f1f1;
    }
}

.sideListButton {
    margin: 1rem;
    background-color: #e4bd8b;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        color: #7c6115;
    }
}

.cardListWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 1rem 0 2rem;

    @include tablets {
        justify-content: flex-start;
    }
}

.cardList {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(6, min-content);
    height: 100%;
    
    justify-content: center;
    padding-top: 1rem;

    @include tablets {
        height: 90%;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.cardListButtons {
    display: flex;
    justify-content: center;

    
}

.button {
    font-size: 4rem;
    margin-right: 30px;
    background: none;
    border: none;

    margin-top: -0.5rem;

    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        cursor: pointer;
        color: blue;
    }

    &:focus {
        outline: none;
    }
    
    &:disabled {
        pointer-events: none;
    }
}

.cardsItem {
    margin: 0.6rem;

    @include phones-l {
        margin: 0.2rem;
    }
}

.card {
    padding: 0.5rem;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
} 

.cardName {
    text-transform: capitalize;
}

/* width */
::-webkit-scrollbar {
    width: 0.7rem
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:disabled {
    pointer-events: none;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    
    &-image {
        display: flex;
        justify-content: center;
    }
    &-image img {
        
    }

    &-main{
        display: flex;
        padding: 1rem;
        text-transform: capitalize;
    }
    &-stats{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
        text-transform: capitalize;
    }
    &-abilities{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.infoContent {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fffcf8;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.abilities {
    text-transform: capitalize;
}

.statsRow {
    width: 100%;
    text-align: justify;
}

